<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.future.nfc_plugin"
        version="0.0.1">

  <name>Future_NFC_Plugin</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/future_nfc_plugin.js" target="js/future_nfc_plugin.js"/>

  <js-module src="www/future_nfc_plugin.js" name="future_nfc_plugin">
    <clobbers target="future_nfc_plugin" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="NfcPlugin">
        <param name="android-package" value="com.future.nfc_plugin.NfcPlugin"/>
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.NFC" />
    </config-file>

    <source-file src="src/android/NfcPlugin.java" target-dir="src/com/future/nfc_plugin/"/>
    <source-file src="src/android/Function.java" target-dir="src/com/future/nfc_plugin/"/>
    <source-file src="src/android/Conversion.java" target-dir="src/com/future/nfc_plugin/"/>
  </platform>

</plugin>